* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ddd;
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
}

#content {
  padding: 1em;
}

@media only screen and (max-width: 480px) {
  .mainP {
    font-size: 11px;
    padding: 12px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .mainP {
    font-size: 15px;
    padding: 10px;
  }
}

@media only screen and (min-width: 1025px) {
.mainP {
    font-size: 30px;
    padding: 10px;
  }
}
nav {
  background-color: #eee;
  margin-top: 1em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

li {
  padding: 0.5em;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #555;
}
